* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
	color: #e5e5e5;
}

nav {
	position: fixed;
	background-color: rgb(41, 41, 41);
	top: 0;
	width: 100%;
}
ul {
	padding: 2em;
	height: 100px;
	display: flex;
	justify-content: space-evenly;
}
li {
	list-style: none;
}
a {
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}
.section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	font-size: 4rem;
	background-color: rgb(19, 3, 110);
}
.section:nth-child(odd) {
	background-color: rgb(93, 77, 7);
}

.active {
	color: rgb(156, 124, 9);
}
